body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

p {
    padding: 0px 30%;
}

hr {
    background-color: lightgrey;
    width: 95%; 
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    margin-left: 13%;
    margin-right: 13%;
}

.top {
    margin-bottom: 20px;
}

.scores {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
}

.timer {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 10px;
    margin: unset;
}

.button-row {
    flex-direction: row;
}

.button {
    margin: 4px auto;
}

.hide {
    display: none;
}

.show {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.left {
    text-align: left;
}

.choices {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}
